@import "./lesshat.less";
@import "./chart.less";

body {
  //min-width: 600px;
  //background: #f0f0f0;
  background: #101010;
  font-family: "Titillium Web", "Helvetica Neue", Helvetica, sans-serif;

  * {
    .box-sizing(border-box);
  }
}


.tooltip {
  position: fixed;

  .tooltip-content {
    background: rgba(255, 255, 255, 0.8);
    padding: 6px;
    font-size: 9pt;
    .border-radius(4px 0 4px 4px);
    ul {
      margin: 0;
      padding-left: 15px;
    }
  }

  .tooltip-triangle-right {
    border-color: transparent transparent transparent rgba(255, 255, 255, 0.8);
  }
}

.landscape-alert {
  padding: 10px;
  text-align: center;
  .border-radius(6px);
  font-size: 14pt;

  h1 {
    font-size: 38px;
    line-height: 28px;
  }
}

// mixins
.control-input-text-style {
  color: #f0f0f0;
  font-family: "Inconsolata", monospace;
  font-size: 9pt;
  background: #181818;
  border: 1px solid #232323;
  .box-shadow(inset 0 0 3px #000000);
}
.valid-input-style {
  outline: none;
  color: lightgreen;
  &:focus {
    //box-shadow: inset 0 0 4px lightgreen;
    border: 1px solid lightgreen;
  }
}
.invalid-input-style {
  outline: none;
  color: lightcoral;
  &:focus {
    //box-shadow: inset 0 0 4px lightgreen;
    border: 1px solid lightcoral;
  }
}

.control-panel {
  position: fixed;
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  right: 0;
  top: 0;
  padding: 0;
  background: #494949;
  color: #f0f0f0;
  font-size: 10pt;

  button {
    display: inline-block;
    background: transparent;
    line-height: 10px;
    padding: 3px 6px;
    font-size: 8pt;
    color: #f0f0f0;
    border: 1px solid #f0f0f0;
    .border-radius(4px);
    font-family: "Titillium Web", "Helvetica Neue", Helvetica, sans-serif;
    cursor: pointer;

    &:hover {
      background-color: rgba(255, 255, 255, .1);
    }
    &:active {
      outline: none;
      background-color: #292929;
      border-color: #898989;
    }
    &:focus {
      outline: none;
    }
    &.special {
      background-color: #18183a;
    }
    &.inactive::before {
      content: "○ "
    }
    &.active::before {
      content: "● "
    }
  }

  input[type="text"] {
    .control-input-text-style;
    line-height: 13pt;
    text-align: right;
  }
  input[type="radio"] {
    margin-left: 7px;
  }

  .panel {
    display: block;
    position: relative;
    overflow: auto;
    padding: 4px 15px;

    background-color: #333;
    &:nth-child(odd) {
      background-color: #404040;
    }
    button {
      margin-left: 8px;
      &:first-of-type {
        margin-left: 0;
      }
    }
  }
  .panel-left { float: left; }
  .panel-right { float: right; }
  .panel-left, .panel-right {
    line-height: 12pt;
    vertical-align: middle;
    .number-input, span {
      display: inline-block;
      line-height: 12pt;
      vertical-align: middle;
    }

  }

  .panel.head-panel {
    background-color: #18183a;
    vertical-align: baseline;

    a {
      text-decoration: none;
      color: #f0f0f0;
    }

    .panel-left, .panel-right {
      line-height: 20pt;
      vertical-align: baseline;
    }

    .subtitle, .byline {
      vertical-align: baseline;
      display: inline-block;
      font-size: 8pt;
      font-weight: normal;
    }

    h3 {
      display: inline-block;
      vertical-align: baseline;
      margin: 0;
      font-size: 13pt;
      font-weight: 600;
      color: #f6f6f6;
      text-shadow: 0 1px 0 #040404;
    }
    .subtitle {
      margin-left: 4px;
    }
    .byline {
      color: #a0a0a0;
      a {color: #a0a0a0;}
    }
  }

  .panel.number-range-panel {
    .number-input input {
      width: 4em;
    }
    .range-delimiter {
      margin: 0 5px;
      font-size: 8pt;
    }
  }
  .number-input {
    input {
      float: right;
      width: 6em;
    }
    label {
      display: block;
      position: relative;
      overflow: auto;
      :first-child {
        float: left;
      }
    }
    &.number-input-valid input {
      .valid-input-style
    }
    &.number-input-invalid input {
      .invalid-input-style
    }
  }

  .function-input {
    .function-signature {
      font-family: "Inconsolata", monospace;
      font-size: 9pt;
    }
    textarea {
      width: 100%;
      height: 25pt;
      .transition(height 0.35s);
      .control-input-text-style;

      &:focus {
        height: 80pt;
        outline: none;
        .box-shadow(0 0 4px #b0b0b0);
      }
    }

    &.function-input-valid textarea {
      .valid-input-style
    }
    &.function-input-invalid textarea {
      .invalid-input-style
    }
  }
}




