@import "./chart.less";

body {
  //background: #f0f0f0;
  background: #292929;
}

.control-panel {
  position: fixed;
  background: #494949;
  color: #f0f0f0;
  width: 100%;
  left: 0;
  bottom: 0%;
  //top: 100%;
  //transform: translateY(-300px);

  .function-input, .number-input {
    display: inline-block;
    padding: 10px;
  }
}