<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link href='https://fonts.googleapis.com/css?family=Inconsolata:700,400' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div id="container"></div>
    <script>
      (function(v,e,c,t,o,r,s){v['GoogleAnalyticsObject']=o;v[o]=v[o]||function(){
                (v[o].q=v[o].q||[]).push(arguments)},v[o].l=1*new Date();r=e.createElement(c),
              s=e.getElementsByTagName(c)[0];r.async=1;r.src=t;s.parentNode.insertBefore(r,s)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-63896365-3', 'auto');
      ga('send', 'pageview');
    </script>
    <script src="CCapture.all.min.js"></script>
  </body>
</html>